/*COLOR PALETTE

#e53170
#0f0e17 

*/




/*RESET*/
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*HTML*/
html {

  font-size: 62.5%; /*Per avere 10px in proporzione al font base (16px : 100% = 10px : x%)*/
  font-family: 'Fredoka', sans-serif;
  

}

/*CLEARFIX PER ELEMENTI FLOAT*/
.clearfix::after {

  content:"";
  clear: both;
  display: table;
  
}

/*TEST RULE*/
/* p {

  color: red;

} */


/* COMMON */
.container {

  width: 70%;
  margin: 0 auto;

}


/*Title*/
.title * {

  text-align: center;
  margin: 2em 0;

} 

.title h1 {

  font-size: 3.6rem;
  color: #e53170;

}

.title p {

  font-size: 2.4rem;

}

/*ROW*/
.row {



}

.col {

  width: calc(100% / 3);
  border: 1px solid black;
  float:left;

}

.col img {

  float: left;
  width: 10rem;

}



