/*COLOR PALETTE

#e53170
#0f0e17 
#4dccf2

*/




/*RESET*/
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*HTML*/
html {

  font-size: 62.5%; /*Per avere 10px in proporzione al font base (16px : 100% = 10px : x%)*/
  font-family: 'Fredoka', sans-serif;
  

}

/*CLEARFIX PER ELEMENTI FLOAT*/
.clearfix::after {

  content:"";
  clear: both;
  display: table;
  
}

/*TEST RULE*/
/* p {

  color: red;

} */


/* COMMON */
.container {

  width: 70%;
  margin: 0 auto;

}


/*Title*/
.title * {

  text-align: center;
  margin: 2em 0;

} 

.title h1 {

  font-size: 3.6rem;
  color: #e53170;

}

.title p {

  font-size: 2.4rem;

}

/*ROW*/
.row {

  margin-bottom: 100px;

}

.col {

  width: calc((100% - 120px) / 3) ;
  float:left;
  background-color: #0f0e17 ;
  color: white;
  line-height: 5rem;

}

.col img {

  float: left;
  margin-right: 1em;
  height: 16rem;

}

.col h2 {

  font-size: 3rem;


}

.col h3 {

  font-size: 2.8rem;

}

.col a {

  text-decoration: none;
  font-size: 2.6rem;
  color: #4dccf2;

}

.col:nth-of-type(3n+1)
{

  margin-right: 30px;

}

.col:nth-of-type(3n+2)
{

  margin: 0 30px;
  

}

.col:nth-of-type(3n+3)
{

  margin-left: 30px;
  
}







